#notes {
	position: relative;
	height: 400vh;
	width: 100vw;
}

.reveal-animation {
	animation: reveal 0.5s ease 1s forwards
}

.disappear-animation {
	animation: disappear 0.5s ease forwards
}

#program-previews {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	max-width: 50%;
	display: flex;
	gap: min(2vh, 2vw);
	z-index: 65;
}

.program-preview {
	aspect-ratio: 1;
	height: min(8vh, 6vw);
	position: relative;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

.program-preview.show {
	animation: reveal-from-below 0.5s ease-out forwards;
}

.program-preview.hide {
	animation: sink-below 0.5s ease-out forwards;
}

@keyframes reveal-from-below {
	0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sink-below {
	0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.program-preview-image {
	height: 100%;
	width: 100%;
	filter: brightness(0.4);
	transition: filter 0.5s ease;
	object-fit: cover;
}

.program-preview-image.active {
	filter: brightness(1);
}

.program-preview-image:hover {
	filter: brightness(1);
}

@keyframes reveal {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}

.notes p {
	line-height: 1.5;
}

.about {
	margin: auto;
	max-width: 100rem;
	min-height: 150vh;
	display: flex;
	gap: 8rem;
	justify-content: space-around;
	position: relative;
	padding: 2rem;
}

.about-text {
	width: 50%;
	margin-top: 8rem;
}

.about-text h1 {
	font-size: 6rem;
	font-family: 'Nepomuk', serif;
}

.about-bio {
	margin-top: 8rem;
	margin-left: 12rem;
}

.about-portrait {
	width: 33%;
	aspect-ratio: 3/4;
	overflow: hidden;
	align-self: flex-start;
	object-fit: cover;
}

@media (max-width: 80rem) {
	.about {
		gap: 2rem;
	}

	
	.about-text h1 {
		font-size: 4rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}
}

@media (max-width: 50rem) {
	.about {
		flex-direction: column-reverse;
	}

	.about-text {
		width: 100%;
		margin-top: 0;
	}

	.about-text h1 {
		font-size: 3rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}

	.about-portrait {
		width: 100%;
	}

	#program-previews {
		max-width: 100%;
		gap: min(1vh, 1vw);
		right: 50%;
		gap: min(1vh, 1vw);
		transform: translateX(50%);
	}

	.program-preview {
		height: 12vw;
	}
}

.program-track-container {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	align-items: center;
}


.program-track {
	display: flex;
	gap: min(10vh, 10vw);
	width: fit-content;
	align-items: center;
}

.track-image-container {
	position: relative;
	height: min(50vh, 37.5vw);
	aspect-ratio: 3/4;
	overflow: hidden;
	cursor: pointer;
}

.track-image-container::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 61;
	opacity: 0;
	transition: opacity 1s ease;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.9) 50%);
}

.track-image-container.light-overlay::before {
	transition: opacity 1s ease 1s;
	opacity: 1;
}

.track-image {
	width: 300%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 60;
	user-select: none;
}

.note-content {
	position: relative;
	z-index: 62;
	opacity: 0;
	display: none;
	user-select: none;
	overflow-y: auto;
	height: 100vh;
}

.note-wrapper {
	min-height: 150vh;
	display: flex;
	justify-content: end;
}

.note {
	position: relative;
	width: 50%;
	margin-top: 8rem;
	padding: 2rem 2rem 2rem 2rem;
	box-sizing: border-box;
}

.note h2 {
	font-size: 8rem;
	font-weight: bold;
}

.note b {
	font-size: 1.5rem;
	font-family: 'Nepomuk', serif;
	font-weight: bold;
}

.note-line {
	height: 0.06rem;
	border: 0;
	background-color: var(--color-gray);
}

.program-note-text {
	margin-top: 8rem;
	margin-left: 12rem;
}

.program-scroll {
	height: 80vh;
	aspect-ratio: 3/4;
	box-sizing: border-box;
	background-color: var(--color-ivory);
	position: relative;
	margin-right: 4rem;
}

.program {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;
	gap: 2rem;
	height: 100%;
	box-sizing: border-box;
}

.program p {
	font-family: 'Nepomuk', serif;
	letter-spacing: 0.05rem;
}

.program h2 {
	font-size: 2rem;
}

.program-items {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.program-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.left-text {
	font-style: italic;
	font-weight: bold;
}



@media (max-width: 80rem) {
	.program-shadow {
		align-self: auto;
		position: static;
		top: 0;
		height: 44rem;
		width: min(100%, 34rem);
	}

	.program-notes-title {
		font-size: 5rem;
	}

	.program-note-text {
		margin-top: 2rem;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 4rem;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 4rem;
	}

	.note {
		width: 40%;
	}

	.note h2 {
		font-size: 6rem;
	}

	.program-note-text {
		margin-left: 0;
		margin-top: 4rem;
	}
}

@media (max-width: 50rem) {
	.program-notes-title {
		font-size: 2rem;
	}

	.program-note-row {
		flex-direction: column;
		gap: 2rem;
	}

	.note {
		justify-self: auto;
		width: 100%;
	}

	.track-image-container::before {
		background: none;
		background-color: rgba(255, 255, 255, 0.9);
		opacity: 0;
	}

	.program-note-row-img {
		width: 100%;
	}

	.program-note-row:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 3rem;
		text-align: left;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 3rem;
		text-align: left;
	}
}