.notes {
	position: relative;
	padding: 8rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.notes p {
	line-height: 1.5;
}

.about {
	margin: auto;
	min-height: 100vh;
	max-width: 100rem;
	display: flex;
	gap: 4rem;
	justify-content: space-around;
}

.about-text {
	width: 50%;
	margin-top: 4rem;
}

.about-text h1 {
	font-size: 6rem;
	font-family: 'Nepomuk', serif;
}

.about-bio {
	margin-top: 4rem;
}

.about-portrait {
	width: 40%;
	aspect-ratio: 3/4;
	overflow: hidden;
	align-self: flex-start;
}

@media (max-width: 80rem) {
	.about {
		gap: 2rem;
	}

	
	.about-text h1 {
		font-size: 4rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}
}

@media (max-width: 50rem) {
	.about {
		flex-direction: column-reverse;
	}

	.about-text {
		width: 100%;
		margin-top: 0;
	}

	.about-text h1 {
		font-size: 3rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}

	.about-portrait {
		width: 100%;
	}
}

.program-transition {
	display: flex;
	justify-content: space-around;
	min-height: 200vh;
	align-items: center;
}

.program-shadow {
	position: sticky;
	align-self: flex-start;
	top: 6rem;
	height: 80vh;
	aspect-ratio: 3/4;
	box-sizing: border-box;
	display: inline-flex;
	overflow: visible;
	box-shadow: 0 0 8px var(--color-gray);
	overflow: scroll;
	background-color: white;
}

.program {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;
	gap: 2rem;
}

.program p {
	font-family: 'Nepomuk', serif;
	letter-spacing: 0.05rem;
}

.program h2 {
	font-size: 2rem;
}

.program-items {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.program-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.left-text {
	font-style: italic;
	font-weight: bold;
}

.program-notes-title {
	font-size: 6rem;
	letter-spacing: -0.2rem;
	font-family: 'Nepomuk', serif;
	margin-left: 4rem;
	height: 100vh;
	display: flex;
	align-items: center;
}

.all-notes {
	margin-top: 8rem;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100rem;
	gap: 8rem;
}

.program-note-row {
	display: flex;
	gap: 4rem;
	justify-content: space-evenly;
}

.program-note-row:nth-child(odd) .note h2 {
	font-weight: bold;
	font-size: 6rem;
	text-align: left;
}

.program-note-row:nth-child(even) .note h2 {
	font-weight: bold;
	font-size: 6rem;
	text-align: right;
}


.program-note-row-img {
	width: 40%;
	aspect-ratio: 1;
	overflow: hidden;
	align-self: flex-start;
}

.note {
	width: 40%;
	padding-top: 4rem;
}

.note b {
	font-size: 1.5rem;
	font-family: 'Nepomuk', serif;
}

.program-note-text {
	margin-top: 4rem;
}

@media (max-width: 80rem) {
	.program-shadow {
		align-self: auto;
		position: static;
		top: 0;
		height: 44rem;
		width: min(100%, 34rem);
	}

	.program-notes-title {
		font-size: 5rem;
	}

	.program-note-text {
		margin-top: 2rem;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 4rem;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 4rem;
	}
}

@media (max-width: 50rem) {
	.program-notes-title {
		font-size: 2rem;
	}

	.program-note-row {
		flex-direction: column;
		gap: 2rem;
	}

	.note {
		width: 100%;
	}

	.program-note-row-img {
		width: 100%;
	}

	.program-note-row:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.note {
		padding: 0;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 3rem;
		text-align: left;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 3rem;
		text-align: left;
	}
}