#notes {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.notes p {
	line-height: 1.5;
}

.about {
	margin: auto;
	min-height: 100vh;
	max-width: 100rem;
	display: flex;
	gap: 4rem;
	justify-content: space-around;
}

.about-text {
	width: 50%;
	margin-top: 4rem;
}

.about-text h1 {
	font-size: 6rem;
	font-family: 'Nepomuk', serif;
}

.about-bio {
	margin-top: 4rem;
}

.about-portrait {
	width: 40%;
	aspect-ratio: 3/4;
	overflow: hidden;
	align-self: flex-start;
	object-fit: cover;
}

@media (max-width: 80rem) {
	.about {
		gap: 2rem;
	}

	
	.about-text h1 {
		font-size: 4rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}
}

@media (max-width: 50rem) {
	.about {
		flex-direction: column-reverse;
	}

	.about-text {
		width: 100%;
		margin-top: 0;
	}

	.about-text h1 {
		font-size: 3rem;
	}

	.about-bio {
		margin-left: 0;
		margin-top: 2rem;
	}

	.about-portrait {
		width: 100%;
	}
}

.scroll-spacer {
	height: 300vh;
}


.program-track {
	display: flex;
	gap: min(8vh, 8vw);
	height: 100vh;
	width: fit-content;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
}

.track-image-container {
	position: relative;
	height: min(50vh, 37.5vw);
	aspect-ratio: 3/4;
	overflow: hidden;
}

.track-image {
	width: 300%;
	height: 100%;
	object-fit: cover;
}

.track-image-container.open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	transform: none;
}

.track-image.open {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.track-image-container.slide-from-right {
	animation: slide-from-right 1s cubic-bezier(0.1, 0.9, 0.5, 1)
}

@keyframes slide-from-left {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-from-right {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

.note {
	position: relative;
	margin-top: 8rem;
	margin-right: 8rem;
	width: 50%;
	display: none;
}

.note h2 {
	font-size: 8rem;
	font-weight: bold;
}

.note b {
	font-size: 1.5rem;
	font-family: 'Nepomuk', serif;
}

.program-note-text {
	margin-top: 8rem;
	margin-left: 12rem;
}

.program-transition {
	display: flex;
	justify-content: space-around;
	min-height: 200vh;
	align-items: center;
}

.program-shadow {
	display: none;
	height: 80vh;
	aspect-ratio: 3/4;
	box-sizing: border-box;
	overflow: visible;
	box-shadow: 0 0 8px var(--color-gray);
	overflow: auto;
	background-color: white;
	position: relative;
	z-index: 50;
	margin-right: 10rem;
	margin-top: 10rem;
}

.program {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;
	gap: 2rem;
}

.program p {
	font-family: 'Nepomuk', serif;
	letter-spacing: 0.05rem;
}

.program h2 {
	font-size: 2rem;
}

.program-items {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.program-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.left-text {
	font-style: italic;
	font-weight: bold;
}



@media (max-width: 80rem) {
	.program-shadow {
		align-self: auto;
		position: static;
		top: 0;
		height: 44rem;
		width: min(100%, 34rem);
	}

	.program-notes-title {
		font-size: 5rem;
	}

	.program-note-text {
		margin-top: 2rem;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 4rem;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 4rem;
	}
}

@media (max-width: 50rem) {
	.program-notes-title {
		font-size: 2rem;
	}

	.program-note-row {
		flex-direction: column;
		gap: 2rem;
	}

	.note {
		width: 100%;
	}

	.program-note-row-img {
		width: 100%;
	}

	.program-note-row:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.note {
		padding: 0;
	}

	.program-note-row:nth-child(odd) .note h2 {
		font-size: 3rem;
		text-align: left;
	}

	.program-note-row:nth-child(even) .note h2 {
		font-size: 3rem;
		text-align: left;
	}
}