.preview-box {
	display: block;
	height: 100%;
	min-height: 0;
	min-width: 0;
	width: 100%;
	transition: transform 0.25s ease, box-shadow 1s ease-in-out;
	will-change: box-shadow;
	overflow: hidden;
	transform: scale(1);
	border-radius: 0.75rem;
	position: relative;
}

.preview-box:hover {
	box-shadow: 0 0 4px var(--color-gray);
}

.preview-box:active {
	transform: scale(0.95);
}

.preview, .preview-card, .preview-min {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.preview-side {
	display: flex;
	width: 100%;
	height: 100%;
}


.preview-image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
	border-radius: 0.75rem;
	overflow: hidden;
	transition: height 0.5s ease-in-out;
}

.preview-image-container::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s ease-in-out;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

.preview-image-container-card, .preview-image-container-min {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	border-radius: 0.75rem;
	transition: height 0.5s ease-in-out;
	overflow: hidden;
}


.preview-image-container-card::before, .preview-image-container-min::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s ease-in-out;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

.preview-image-container-side {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border-radius: 0.75rem;
	transition: width 0.5s ease-in-out;
	overflow: hidden;
}

.preview-image-container-side::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s ease-in-out;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

.preview-box:hover .preview-image-container, .preview-box:hover .preview-image-container-card, .preview-box:hover .preview-image-container-min  {
	height: 100%;
}

.preview-box:hover .preview-image-container::before, .preview-box:hover .preview-image-container-card::before, .preview-box:hover .preview-image-container-min::before, .preview-box:hover .preview-image-container-side::before {
	opacity: 1;
}

.preview-box:hover .preview-image-container-side {
	width: 100%;
}

.preview-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.preview-text {
	width: 100%;
	height: 25%;
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.preview-text-card, .preview-text-min {
	width: 100%;
	height: 40%;
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.preview-text-side {
	width: 50%;
	height: 100%;
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.preview-box:hover .preview-image, .preview-box:hover .preview-image-card, .preview-box:hover .preview-image-min {
	height: 100%;
}

.preview-box:hover .preview-image-side {
	width: 100%;
}


.post-caption {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
	color: var(--color-muted);
	margin-bottom: 1rem;
	transition: color 0.5s ease-in-out;
}

.preview-box:hover .post-caption {
	color: var(--color-black);
}

.preview-text h1 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview-text-side h1, .preview-text-card h1, .preview-text-min h1 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-text-min h1 {
	margin-bottom: 0.25rem;
	font-size: 1.25rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-text-min {
	font-size: 0.75rem;
}

.date {
	margin-bottom: 0.5rem;
	color: var(--color-muted);
	white-space: nowrap;
	transition: color 0.5s ease-in-out;
}

.preview-box:hover .date {
	color: var(--color-black);
}