.preview-box {
	display: block;
	height: 100%;
	min-height: 0;
	min-width: 0;
	width: 100%;
	transform: scale(0.9);
	opacity: 0;
	box-shadow: 0 0 8px var(--color-gray);
	will-change: opacity, transform, box-shadow;
	transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 1s ease;
}

.preview-box.visible {
	opacity: 1;
	transform: scale(1);
}

.preview-box:hover {
	transform: scale(1.02);
	box-shadow: 0 0 30px var(--color-gray);
}

.preview-box:active {
	transform: scale(0.98);
	box-shadow: 0 0 8px var(--color-gray);
}

.preview, .preview-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.preview-side {
	display: flex;
	height: 100%;
	width: 100%;
}

.img-container, .img-container-card {
	width: 100%;
	height: 75%;
}

.img-container-side {
	width: 50%;
	height: 100%;
}

.preview-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.preview-text, .preview-text-card {
	width: 100%;
	height: 25%;
	padding: 1rem 1rem;
}

.preview-text-side {
	width: 50%;
	height: 100%;	
	min-width: 0;
	padding: 1rem 1rem;
}

.post-caption {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
	color: var(--color-muted);
	margin-bottom: 1rem;
}

.preview-text h1 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview-text-side h1, .preview-text-card h1 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
	margin-bottom: 0.5rem;
	color: var(--color-muted);
}