.preview-box {
	display: block;
	height: 100%;
	min-height: 0;
	min-width: 0;
	width: 100%;
	transform: scale(1);
	box-shadow: 0 0 4px var(--color-gray);
	transition: transform 0.25s ease, box-shadow 0.25s ease;
	background-color: white;
	border-radius: 1rem;
	overflow: hidden;
}

.preview-box:hover {
	transform: scale(1.02);
	box-shadow: 0 0 8px var(--color-gray);
}

.preview-box:active {
	transform: scale(0.98);
	box-shadow: none;
}

.preview, .preview-card, .preview-min {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.preview-side {
	display: flex;
	height: 100%;
	width: 100%;
}

.img-container {
	width: 100%;
	height: 75%;
}

.img-container-card, .img-container-min {
	width: 100%;
	height: 60%;
}

.img-container-side {
	width: 50%;
	height: 100%;
}


.preview-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.preview-text {
	width: 100%;
	height: 25%;
	padding: 1rem 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.preview-text-card, .preview-text-min {
	width: 100%;
	height: 40%;
	padding: 1rem 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.preview-text-side {
	width: 50%;
	height: 100%;	
	padding: 1rem 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.post-caption {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
	color: var(--color-muted);
	margin-bottom: 1rem;
}

.preview-text h1 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview-text-side h1, .preview-text-card h1, .preview-text-min h1 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-text-min h1 {
	margin-bottom: 0.25rem;
	font-size: 1.25rem;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-text-min {
	font-size: 0.75rem;
}

.date {
	margin-bottom: 0.5rem;
	color: var(--color-muted);
	white-space: nowrap;
}