.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-ivory);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


@keyframes scaleIn {
  to { transform: scale(1); }
}

.scaling-container {
  transform: scale(0);
  animation: scaleIn 0.5s forwards ease-out 0.25s;
}

.loading-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  animation: pulse 1s infinite alternate ease-in-out;
}

.rest {
  width: 8vw;
  height: auto;
}

.fermata {
  width: 4vw;
  height: auto;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

@keyframes jump {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.circle {
  position: absolute;
  top: -2.5;
  left: -2.5;
  width: 16vw;
  height: 16vw;
  border-right: 0.25vw solid var(--color-black);
  border-bottom: 0.5vw solid var(--color-black);
  border-left: 0.75vw solid var(--color-black);
  border-top: 0 solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
