.nav-bar {
  display: flex;
  justify-content: end;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  backdrop-filter: opacity(50%);
}

.nav-bar.visible {
  transform: translateY(0);
}


.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  transition: transform 0.25s;
  padding: 2rem;
  box-sizing: content-box;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-black);
  border-radius: 2px;
  transition: transform 0.75s ease, opacity 0.75s ease;
  transform-origin: center;
}

.hamburger:hover span {
  transform: scale(1.25);
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.5rem);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem, -0.5rem);
}

.hamburger.open:hover span:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.5rem) scale(1.25);
}
.hamburger.open:hover span:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem, -0.5rem) scale(1.25);
}

