.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--color-ivory);
  z-index: 100;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  opacity: 0.95;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.navbar.visible {
  transform: translateY(0);
}

.logo {
  font-size: 2rem;
  font-family: 'Nepomuk', serif;
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.25s;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-black);
  border-radius: 2px;
  transition: all 0.75s ease;
  transform-origin: center;
}

.hamburger:hover span {
  transform: scale(1.25);
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.5rem);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem, -0.5rem);
}

.hamburger.open:hover span:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.5rem) scale(1.25);
}
.hamburger.open:hover span:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem, -0.5rem) scale(1.25);
}

@media (max-width: 80rem) {
  .hamburger {
    display: flex;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    box-sizing: border-box;
    background-color: var(--color-ivory);
    flex-direction: column;
    text-align: right;
    width: fit-content;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 0 5px var(--color-gray);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
  }

  .nav-links.open {
    transform: scaleY(1);
  }
}