.email-input {
  position: relative;
  width: 100%;
	min-width: 16rem;
}

.email-input input {
	box-sizing: border-box;
  width: 100%;
  padding: 1rem 6rem 1rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-gray);
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.email-input input:focus {
  border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.email-input button {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.submit-message {
	position: absolute;
  inset: 0;
  width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  outline: none;
	background-color: var(--color-black);
	color: var(--color-ivory);
	animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  25%, 75% { opacity: 1; }
  100% { opacity: 0; }
}