.email-input {
  position: relative;
  width: 100%;
	min-width: 15rem;
}

.email-input input {
	box-sizing: border-box;
  width: 100%;
  padding: 1rem 6rem 1rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.email-input input:focus {
  border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.email-input button {
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-ivory);
  background-color: var(--color-black);
  color: var(--color-ivory);
  border-radius: 2px;
  cursor: pointer;
	transform: scale(1, 1);
  transition: background-color 0.25s, color 0.25s, border 0.25s, transform 0.25s;
}

.email-input button:hover {
  background-color: var(--color-ivory);
	color: var(--color-black);
	border: 1px solid var(--color-black);
}

.email-input button:active {
  transform: scale(0.75, 0.75);
}

.submit-message {
	position: absolute;
  inset: 0;
  width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  outline: none;
	background-color: var(--color-black);
	color: var(--color-ivory);
	animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  25%, 75% { opacity: 1; }
  100% { opacity: 0; }
}