.home-content {
	padding-top: 7rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	gap: max(2vh, 11px);
}

.home-content p {
	font-family: 'Nepomuk', serif;
	letter-spacing: 0.05rem;
}

.keys {
	display: flex;
	gap: max(2vh, 11px);
	position: relative;
}

.side-keys {
	display: flex;
	gap: max(2vh, 11px);
	position: relative;
	filter: blur(10px);
}

@media (max-width: 1000px) {
	.side-keys {
		display: none;
	}

	.home-content {
		justify-content: space-evenly;
		overflow-x: auto;
	}
}

.c-key-container {
  clip-path: polygon(0% 0, 30% 0, 30% 52%, 100% 52%, 100% 100%, 0% 100%);
}

.d-key-container {
  clip-path: polygon(35% 0%, 65% 0%, 65% 52%, 100% 52%, 100% 100%, 0% 100%, 0% 52%, 35% 52%);
}

.e-key-container {
  clip-path: polygon(0% 52%, 70% 52%, 70% 0%, 100% 0%, 100% 52%, 100% 100%, 0% 100%);
}

.f-key-container {
	clip-path: polygon(0% 0, 21.25% 0, 21.25% 52%, 100% 52%, 100% 100%, 0% 100%);
}

.g-key-container {
	clip-path: polygon(26.25% 0%, 47.5% 0%, 47.5% 52%, 100% 52%, 100% 100%, 0% 100%, 0% 52%, 26.25% 52%);
}

.a-key.container {
	clip-path: polygon(52.5% 0%, 73.75% 0%, 73.75% 52%, 100% 52%, 100% 100%, 0% 100%, 0% 52%, 52.5% 52%);
}

.b-key-container {
	clip-path: polygon(0% 52%, 78.75% 52%, 78.75% 0%, 100% 0%, 100% 52%, 100% 100%, 0% 100%);
}

.key-border {
	width: auto;
	height: max(80vh, 450px);
}

.white-key-animations {
	display: inline-block;
	transform: translateY(0);
	transition: transform 0.25s ease, filter 0.25s ease;
	cursor: pointer;
	color: var(--color-black);
}

.white-key-animations p {
	position: absolute;
  bottom: 2%;
  right: 5%;
	pointer-events: none;
	font-size: 1.5rem;
	text-align: right;
	transition: transform 0.25s ease, filter 0.25s ease;
	transform: translateY(0);
	user-select: none;
	max-width: 75%;
}

.white-key-animations:hover {
	transform: translateY(-1%);
}

.white-key-animations:active {
	transform: translateY(1%);
}

.white-key-animations polygon {
	transition: transform 0.25s ease, filter 0.25s ease;
}

.white-key-animations polygon:hover {
	filter: url(#shadow-hover);
}

.white-key-animations polygon:active {
  filter: url(#shadow);
}




/* Black Keys */

.c-sharp {
	position: absolute;
	top: 0;
	left: max(9.5vh, 53px);
}

.e-flat {
	position: absolute;
	top: 0;
	right: max(9.5vh, 53px);
}

.f-sharp {
	position: absolute;
	top: 0;
	left: max(7vh, 39px);
}

.g-sharp {
	position: absolute;
	top: 0;
	left: max(43vh, 242px);
}

.b-flat {
	position: absolute;
	top: 0;
	right: max(7vh, 39px);
}

.black-key-container {
	display: inline-block;
	background-color: var(--color-black);
	width: max(27vh, 152px);
	height: max(40vh, 225px);
	color: var(--color-ivory);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.black-key-container p {
	position: absolute;
  bottom: 4%;
  right: 5%;
	pointer-events: none;
	font-size: 1.5rem;
	text-align: right;
	user-select: none;
	max-width: 75%;
}

.bg-black-key {
	background: linear-gradient(
    145deg,
    #2A2A2A 0%,
    #1A1A1A 50%,
    #121212 100%
  );
	opacity: 0.4;
	width: max(27vh, 152px);
	height: max(40vh, 225px);
}

.black-key-animations {
	box-shadow: 0 0 15px var(--color-black);
	transform: translateY(0);
	transition: transform 0.25s ease, box-shadow 0.25s ease;
	cursor: pointer;
	opacity: 1;
}

.black-key-animations:hover {
	box-shadow: 0 0 30px var(--color-black);
	transform: translateY(-2%);
}

.black-key-animations:active {
	box-shadow: 0 0 15px var(--color-black);
	transform: translateY(2%)
}

.stage-icon {
	stroke-width: 0.75;
	width: auto;
  height: max(14vh, 79px);
  stroke: var(--color-ivory);
	fill: none;
	overflow: visible;
	pointer-events: none;
}

.quill-icon {
	position: absolute;
	bottom: 18%;
	left: 25%;
	stroke-width: 7;
	width: auto;
  height: max(14vh, 79px);
  stroke: var(--color-black);
	fill: none;
	overflow: visible;
	pointer-events: none;
}

.books-icon {
	position: absolute;
	bottom: 18%;
	left: 25%;
	stroke-width: 7;
	width: auto;
  height: max(14vh, 79px);
  stroke: var(--color-black);
	fill: none;
	overflow: visible;
	pointer-events: none;
}

.rose-icon {
	stroke-width: 9;
	width: auto;
  height: max(14vh, 79px);
  stroke: var(--color-ivory);
	fill: none;
	overflow: visible;
	pointer-events: none;
}

.candle-icon {
	position: absolute;
	bottom: 18%;
	left: 25%;
	stroke-width: 8;
	width: auto;
  height: max(14vh, 79px);
  stroke: var(--color-black);
	fill: none;
	overflow: visible;
	pointer-events: none;
}

.stage-icon path {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: drawStageStroke 24s ease-in-out 2s infinite;
}

.quill-icon path {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: drawQuillStroke 24s ease-in-out 6s infinite;
}

.books-icon {
	stroke-dasharray: 2800;
  stroke-dashoffset: 2800;
  animation: drawBooksStroke 24s ease-in-out 4s infinite;
}

.rose-icon path {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: drawRoseStroke 24s ease-in-out 0s infinite;
}

.candle-icon path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: drawCandleStroke 24s ease-in-out 8s infinite;
}

@keyframes drawStageStroke {
  0%, 20% {
    stroke-dashoffset: 220;
  }
  30%, 70% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: 220; 
  }
}

@keyframes drawQuillStroke {
  0%, 20% {
    stroke-dashoffset: 1800;
  }
  30%, 70% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: 1800;
  }
}

@keyframes drawBooksStroke {
  0%, 20% {
    stroke-dashoffset: 2800;
  }
  30%, 70% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: 2800;
  }
}

@keyframes drawRoseStroke {
  0%, 20% {
    stroke-dashoffset: 900;
  }
  30%, 70% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: 900;
  }
}

@keyframes drawCandleStroke {
  0%, 20% {
    stroke-dashoffset: 1200;
  }
  30%, 70% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: 1200;
  }
}