.reveal-up.visible,
.reveal-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal-up {
  opacity: 0;
  transform: translateY(50%);
  will-change: opacity, transform;
}

.reveal-down {
  opacity: 0;
  transform: translateY(-50%); 
  will-change: opacity, transform;
}