.site-footer {
  box-shadow: 0 0 10px var(--color-gray);
	width: 100%;
	overflow-x: auto;
	position: relative;
	z-index: 999;
	background-color: var(--color-ivory);
}

.site-footer h1 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.footer-logo {
	font-style: italic;
}

.footer-content {
	max-width: 75rem;
	margin: auto;
	padding: 2rem 4rem;
	min-width: fit-content;
}

.footer-sections {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem;
}

.footer-branding p {
	margin-bottom: 1rem;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-nav a {
	margin-bottom: 1rem;
}

.footer-divider {
	border: none;
	height: 1px;
	width: 100%;
	background: var(--color-gray);
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	padding: 0;
}

.copyright {
	text-align: end;
	padding: 0;
	margin: 0;
}

.icons {
	display: flex;
	gap: 0.5rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-ivory);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--color-ivory);
	background-color: var(--color-black);
}

.social-icon:hover {
  border-color: var(--color-black); 
  color: var(--color-black);
	background-color: var(--color-ivory);
}

.social-icon:active {
  transform: scale(0.75);
}