.site-footer {
	width: 100%;
	overflow-x: auto;
	position: relative;
	z-index: 50;
	background-color: var(--color-ivory);
}

.footer-divider {
	border: none;
	height: 1px;
	width: 90%;
	background: var(--color-line);
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 0;
}

.copyright {
	width: 90%;
	text-align: end;
	padding-bottom: 2rem;
	margin: auto;
}