.frosted-panel {
  background-color: rgba(255, 255, 255, 0.25); 
  
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);

  border-radius: 1rem;
  
  width: 25rem;
  padding: 1.5rem;
}

.panel-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.panel-content {
  font-size: 1rem;
}