.reveries {
	padding-top:2rem;
	padding-bottom: 4rem;
	margin: auto;
	max-width: 100rem;
	min-height: 100vh;
}

.header {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.tag-select {
	display: flex;
	gap: 1rem;
}

.posts {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 2rem;
	height: 43.5rem;
	width: 100%;
	padding: 0 2rem;
	box-sizing: border-box;
}

.main-post {
	height: 100%;
  width: 100%;
	min-width: 0;
	min-height: 0;
}

.side-posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	height: 100%;
	min-height: 0;
}

.small-posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	width: 100%;
	padding: 0 2rem;
	box-sizing: border-box;
	height: 90rem;
}

@media (max-width: 50rem) {
	.small-posts {
		grid-template-columns: 1fr;
		height: 180rem;
	}
}
