@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-ivory: #FEFEFA;      /* Ivory background */
  --color-black: #1A1A1A;      /* Black for text */
  --color-gray: #A3A3A3;       /* Neutral gray */
  --color-muted: #6B6B6B;
}

body {
  background-color: var(--color-ivory);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

input,
textarea,
button,
select {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-family: 'Nepomuk', serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.underline-animate {
  position: relative;
  transition: transform 0.5s ease;
  overflow: visible;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-black);

  transform: scaleX(0) ;
  transform-origin: center;
  transition: transform 0.5s ease;
  will-change: transform;
}

.underline-animate:hover::after {
  transform: scaleX(1);
}