@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

:root {
  --color-ivory: #FEFEFA;      /* Ivory background */
  --color-black: #1A1A1A;      /* Black for text */
  --color-gray: #A3A3A3;       /* Neutral gray */
}

body {
  background-color: var(--color-ivory);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
}

.underline-animate {
  position: relative;
  text-decoration: none;
  color: var(--color-black);
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-black);

  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.5s ease;
}

.underline-animate:hover::after {
  transform: scaleX(1);
}