@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nepomuk';
  src: url('./assets/Nepomuk/Nepomuk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html {
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
	scrollbar-width: none;
}


html::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

:root {
  --color-ivory: #FEFEFA;      /* Ivory background */
  --color-black: #1A1A1A;      /* Black for text */
  --color-gray: #999999;       /* Neutral gray */
  --color-muted: #808080;
  --color-gray-light: #efefef;
  --color-line: #bfbfbf;
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--color-ivory);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif
}



input,
textarea,
button,
select {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-family: 'Nepomuk', serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.underline-animate {
  position: relative;
  transition: transform 0.5s ease;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  color: var(--color-gray);
  transition: color 0.5s ease;
}

.underline-animate.active {
  color: var(--color-black);
  font-weight: bold;
}

.underline-animate:hover {
  color: var(--color-black);
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-black);

  transform: scaleX(0) ;
  transform-origin: left;
  transition: transform 0.5s ease;
  will-change: transform;
}

.underline-animate.active::after {
  transform: scaleX(1);
}

.underline-animate:hover::after {
  transform: scaleX(1);
}