.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-ivory);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


@keyframes scaleIn {
  to { transform: scale(1); }
}

.scaling-container {
  transform: scale(0);
  animation: scaleIn 0.5s forwards ease-out 0.25s;
}

.loading-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(1vw,1vh);
  animation: pulse 1s infinite alternate ease-in-out;
}

.rest {
  width: min(8vw, 8vh);
  height: auto;
}

.fermata {
  width: min(4vw, 4vh);
  height: auto;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

@keyframes jump {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.circle {
  position: absolute;
  top: -2.5;
  left: -2.5;
  width: min(16vw, 16vh);
  height: min(16vw, 16vh);
  border: solid min(0.5vw,0.5vh) var(--color-black);
  border-top: 0 solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
