.animated-line-container {
  width: 100%;
  overflow: hidden;
}

.animated-line {
  height: 100%;
  width: 0%;
}

.line-visible {
  animation-name: growLine;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes growLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}