.posts-page {
	padding: 6rem 2rem;
	margin: auto;
	min-height: 100vh;
}

.recent-posts {
	display: flex;
	flex-direction: column;
	max-width: 100rem;
	margin: auto;
	min-height: 100vh;
}

.recent-header {
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100rem;
	font-size: 4rem;
	font-family: 'Nepomuk', serif;
}

.recent-header h1 {
	font-size: 4rem;
}

.posts {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 2rem;
	height: 46rem;
	width: 100%;
	box-sizing: border-box;
}

.main-post {
	height: 100%;
  width: 100%;
	min-width: 0;
	min-height: 0;
}

.side-posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	height: 100%;
	min-height: 0;
}

.small-posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	width: 100%;
	box-sizing: border-box;
	height: 64rem;
}

@media (max-width: 40rem) {
	.small-posts {
		grid-template-columns: 1fr;
		height: 130rem;
	}
}













.all-header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
	font-family: 'Nepomuk', serif;
}

.all-header h1 {
	margin-top: 4rem;
	font-size: 3rem;
}

.all-posts {
	display: flex;
	gap: 4rem;
}

.paginated-container {
	width: 80%;
}

.all-posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 26rem;
	gap: 1.5rem;
	margin-bottom: 2rem;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page-number {
  padding: .5rem 1rem;
  border-radius: 0.75rem;
}

.page-number.disabled {
  cursor: auto;
  color: var(--color-gray);
}

.page-nav-button {
	user-select: none;
}

.page-nav-button.disabled {
	cursor: not-allowed;
	color: var(--color-gray);
}

.post-filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
  box-sizing: border-box;
  height: fit-content;
}

.filter-group h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05rem;
}

.show-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  perspective: 100rem;
  transition: transform 0.25s;
}

.show-more-button span {
  position: absolute;
  display: block;
  height: 0.12rem;
  width: 100%;
  background-color: var(--color-black);
  border-radius: 1px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
  transform-origin: center center;
}

.show-more-button span:nth-child(2) {
  transform: rotate(90deg);
}

.show-more-button:hover {
  transform: scale(1.25);
}

.show-more-button.open span:nth-child(1) {
  transform: rotate(90deg);
  opacity: 0;
}

.show-more-button.open span:nth-child(2) {
  transform: rotate(180deg);
}

.filter-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-input-container {
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
}

.search-input-container.open {
	height: auto;
}

.search-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-gray);
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.search-input:focus {
	border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  align-items: start;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.filter-options p {
	margin-bottom: 1rem;
}

.filter-options.open {
  height: auto;
}

.tag-button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--color-muted);
  background-color: var(--color-gray-light);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  color: var(--color-muted);
  box-shadow: none;
}

.tag-button:hover {
  background-color: var(--color-black);
  color: var(--color-ivory);
  box-shadow: 0 0 10px var(--color-gray);
}

.sort-select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-gray);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.sort-select:focus {
	border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 80rem) {
	.all-posts {
		flex-direction: column;
	}

	.paginated-container {
		width: 100%;
	}

	.post-filter {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		min-width: 16rem;
	}

	.filter-group {
		flex: 1 1 16rem;
	}

	.filter-actions {
		align-items: end;
		flex: 1 1 0;
	}
}

@media (max-width: 60rem) {
	.posts-page h1 {
		font-size: 2rem;
	}
	.all-posts-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 30rem) {
	.all-posts-grid {
		grid-template-columns: 1fr;
	}

	.all-posts {
		overflow-x: auto;
		overflow-y: hidden;
	}
}