.posts-page {
	padding: 6rem 2rem;
	margin: auto;
	min-height: 100vh;
}

.recent-posts {
	display: flex;
	flex-direction: column;
	max-width: 100rem;
	margin: auto;
	min-height: 100vh;
}

.recent-header {
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100rem;
	font-size: 4rem;
	font-family: 'Nepomuk', serif;
}

.recent-header h1 {
	font-size: 4rem;
}

.posts {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 2rem;
	height: 46rem;
	width: 100%;
	box-sizing: border-box;
}

.main-post {
	height: 100%;
  width: 100%;
	min-width: 0;
	min-height: 0;
}

.side-posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	height: 100%;
	min-height: 0;
}

.small-posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	width: 100%;
	box-sizing: border-box;
	height: 64rem;
}

@media (max-width: 40rem) {
	.small-posts {
		grid-template-columns: 1fr;
		height: 130rem;
	}
}













.all-header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
	margin-top: 8rem;
	font-family: 'Nepomuk', serif;
}

.all-header h1 {
	font-size: 4rem;
}

.all-posts {
	display: flex;
	gap: 2rem;
}

.paginated-container {
	width: 80%;
}

.all-posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 26rem;
	gap: 1.5rem;
	margin-bottom: 2rem;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page-number {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}

.page-number.active {
  font-weight: bold;
  background-color: var(--color-black);
  color: var(--color-ivory);
}

.page-number.disabled {
  cursor: auto;
  color: var(--color-gray);
}

.page-nav-button {
	user-select: none;
}

.page-nav-button.disabled {
	cursor: not-allowed;
	color: var(--color-gray);
}

.post-filter {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  width: 20%;
  box-sizing: border-box;
  height: fit-content;
  box-shadow: 0 0 25px var(--color-gray-light);
}

.filter-group h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.search-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-gray);
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.search-input:focus {
	border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.tag-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag-button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--color-muted);
  background-color: var(--color-gray-light);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  color: var(--color-muted);
  box-shadow: none;
}

.tag-button:hover {
  background-color: var(--color-black);
  color: var(--color-ivory);
  box-shadow: 0 0 10px var(--color-gray);
}

.sort-select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-gray);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.sort-select:focus {
	border-color: var(--color-black);
  box-shadow: 0 0 8px var(--color-gray);
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 80rem) {
	.all-posts {
		flex-direction: column;
	}

	.paginated-container {
		width: 100%;
	}

	.post-filter {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		min-width: 16rem;
	}

	.filter-group {
		flex: 1 1 16rem;
	}

	.filter-actions {
		align-items: end;
		flex: 1 1 0;
	}
}

@media (max-width: 60rem) {
	.posts-page h1 {
		font-size: 2rem;
	}
	.all-posts-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 30rem) {
	.all-posts-grid {
		grid-template-columns: 1fr;
	}

	.all-posts {
		overflow-x: auto;
		overflow-y: hidden;
	}
}