.nav-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 1s ease;
  background-color: var(--color-ivory);
  z-index: 90;
  transform: translateX(100%);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  will-change: transform, opacity;
}

.nav-screen.open {
  transform: translateX(0);
}

.nav-screen-img-container {
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.nav-screen-img {
    width: 150%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
    transform: translateX(0);
}

.nav-screen-img.open {
    transform: translateX(-25%);
}


.nav-screen-links {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 5rem;
    gap: 2rem;
    box-sizing: border-box;
    overflow: auto;
    margin: auto 0;
    max-height: 100%;
    padding: 0rem 0rem 2rem 2rem;
}

.nav-screen-links a {
    color: var(--color-line);
    width: 80%;
}

.nav-screen-links a::after {
    transition: transform 1s ease-in-out;
}

@media (max-width: 80rem) {
    .nav-screen-links {
        font-size: 3rem;
    }
}


@media (max-width: 50rem) {

    .nav-screen-img-container {
        display: none;
        width: 0;
    }
    .nav-screen-links {
        font-size: 3rem;
        width: 100%;
    }
}

@media (max-width: 30rem) {

    .nav-screen-links {
        font-size: 2rem;
    }
}